@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Outfit';
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(215, 240, 240);
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  background-color: rgb(253, 244, 220);
  border-radius: 1rem;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  font-size: 1.775rem;
}

form .new-contact {
  display: inline-flex;
}

form .new-contact input {
  margin-right: 0.4em;
  border-radius: 5px;
  border: 2px solid rgb(173, 149, 212);
}

form .new-contact input:focus {
  outline: none !important;
  border: 2px solid rgb(115, 80, 172);
}

.new-contact input#phone {
  width: 9rem;
}

button {
  border: none;
  border-radius: 5px;
  padding: .5rem;
  transition: 500ms;
  background-color: rgb(204, 191, 223);
}

button:hover {
  cursor: pointer;
  background-color: rgb(173, 149, 212);
  color: white;
}

table tr {
  width: 30em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(192, 191, 191);
}

.table-title {
  border-bottom: 1px solid rgb(59, 59, 59);
}
